body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    position: fixed;
    width: 100%;
    background: #0056b3;
    padding: 10px 0;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

section {
    padding: 80px 20px;
    min-height: 100vh;
    text-align: center;
}

section:nth-child(even) {
    background-color: #e3f2fd;
}

.material-icons {
    font-size: 40px;
    color: #0056b3;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0056b3;
    color: white;
}

/* Responsive Design für Mobile Ansicht */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: #0056b3;
        text-align: center;
        padding: 10px 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    #menu-toggle:checked + ul {
        display: flex;
    }
}
